#container {
  height: 100vh;
  position: relative;
}

.box {
  width: 368px;
  height: 400px;
  background: rgb(255, 255, 255);
  visibility: visible;
  opacity: 0;
  transform: translateY(-140px);
  transition: .8s;
  z-index: 1;
  position: absolute;
  top: 220px;
  left: 20px;
}

.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  z-index: 1;
}

.title {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  top: 15px;
  // width:90%;
  // background: #F26118;
  padding-left: 20px;
  color: rgb(228, 118, 63);
}

.plans {

  width: 360px;

  li {
    cursor: pointer;
    width: 328px;
    height: 75px;
    position: relative;
    top: 10px;
    left: 16px;
    border: 2px solid rgba(48, 108, 197, .5);
    border-radius: 0px 10px 10px 10px;
    margin-top: 15px;

    .theIndex {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0px;
      left: 0px;
      background: rgba(48, 108, 197, .5);
      z-index: 2;
      text-align: center;
      font-size: 15px;
      font-weight: bold;
    }

    .theBackground {
      width: 306px;
      height: 20px;
      background: rgba(48, 108, 197, .1);
      position: absolute;
      top: 0px;
      left: 20px;
      border-radius: 0px 10px 0px 0px;
    }

    .theBody {
      .method {
        position: relative;
        top: 20px;
        margin-left: 40px;
        font-size: 17px;
        width: 90%;

        span {
          font-weight: bold;
          color: #F26118;
        }
      }

      .method2 {
        position: absolute;
        top: 25px;
        margin-left: 125px;
        font-size: 13px;
        width: 50%;

        span {
          font-weight: bold;
          color: rgb(70, 68, 68);
        }
      }

      .icon {
        position: absolute;
        top: 23px;
        margin-left: 30px;

      }

      .time {
        position: relative;
        top: 22px;
        margin-left: 31px;

        font-size: 12px;

        span {
          font-weight: bold;
          //   color: #F26118;
        }
      }

      .score {
        position: absolute;
        right: 15px;
        top: 25px;

      }
    }
  }

  li:hover {
    background: rgba(24, 127, 224, 0.1) !important;
    font-weight: bold;
    border: 2px solid rgba(48, 108, 197, .9);

    .theBody {
      .method {

        span {
          font-weight: bold;
          color: rgb(245, 90, 12, );
        }
      }
    }
  }
}

.my-scroll-bar {
  height: 350px;
  // width:370px;
  position: relative;

}

.gm-scrollbar.-horizontal .thumb {
  height: 0%;
  opacity: 0;
  width: 0px;
  position: absolute;
  visibility: hidden;
}

.sspecific {
  .noExpand {
    overflow: hidden; //超出部分影藏
    -webkit-line-clamp: 1; //限制行数
    // text-overflow: ellipsis; //超过部分用省略号显示
    display: -webkit-box; //盒子模型
    -webkit-box-orient: vertical; //从顶部向底部垂直布置子元素
    
    width: 300px;
    height: 75px;
    position: relative;
    top: 10px;
    left: 10px;
    border: 2px solid rgba(48, 108, 197, .5);
    border-radius: 0px 10px 10px 10px;
    margin-top: 15px;

    .table {
      top: 75px;
      position: relative;

    }

    .theIndex {
      width: 20px;
      height: 25px;
      position: absolute;
      top: 0px;
      left: 0px;
      background: rgba(48, 108, 197, .5);
      z-index: 2;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
    }

    .theBackground {
      width: 278px;
      height: 25px;
      background: rgba(48, 108, 197, .1);
      position: absolute;
      top: 0px;
      left: 20px;
      border-radius: 0px 10px 0px 0px;

      .traffic {
        position: relative;
        margin-top: 2px;
        margin-left: 28px;
        font-size: 14px;
        width: 90%;

        span {
          font-weight: bold;
          color: rgba(63, 60, 218,.9);
        }
      }

      .icon {
        position: absolute;
        top: 0px;
        margin-left: 17px;

      }

      .time {
        position: absolute;
        top: 4px;
        right: 30px;

        font-size: 12px;
        float: right;

        span {
          font-weight: bold;
          //   color: #F26118;
        }
      }
      .sicon {
        position: absolute;
        top: 4px;
        right: 6px;

        font-size: 12px;
        float: right;

       
      }
    }

    .theBody {

      .start {
        position: absolute;
        top: 28px;
        margin-left: 35px;
        font-size: 10px;
        width: 90%;

        span {
          font-weight: bold;
          color: rgb(70, 68, 68);
          font-size: 13px;
        }
      }

      .end {
        position: absolute;
        top: 47px;
        margin-left: 35px;
        font-size: 10px;
        width: 90%;

        span {
          font-weight: bold;
          color: rgb(70, 68, 68);
          font-size: 13px;
        }
      }



      .score {
        position: absolute;
        right: 5px;
        top: 28px;

      }
    }
  }

  .noExpand:hover {
    background: rgba(24, 127, 224, 0.1) !important;
    font-weight: bold;
    border: 2px solid rgba(48, 108, 197, .9);

    .theBody {
      .method {

        span {
          font-weight: bold;
          color: rgb(245, 90, 12, );
        }
      }
    }
  }

  .isExpand {
    
    width: 300px;
    // height: 275px;
    position: relative;
    top: 10px;
    left: 10px;
    border: 2px solid rgba(48, 108, 197, .5);
    border-radius: 0px 10px 10px 10px;
    margin-top: 15px;
    .table {
      margin-top: 68px;
      position: relative;
      width:98%;
      margin-left:1%;
      margin-bottom:5px;
    }
    .theIndex {
      width: 20px;
      height: 25px;
      position: absolute;
      top: 0px;
      left: 0px;
      background: rgba(48, 108, 197, .5);
      z-index: 2;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
    }

    .theBackground {
      width: 278px;
      height: 25px;
      background: rgba(48, 108, 197, .1);
      position: absolute;
      top: 0px;
      left: 20px;
      border-radius: 0px 10px 0px 0px;

      .traffic {
        position: relative;
        top: 2px;
        margin-left: 28px;
        font-size: 14px;
        width: 90%;

        span {
          font-weight: bold;
          color: rgba(63, 60, 218,.9);
        }
      }

      .icon {
        position: absolute;
        top: 0px;
        margin-left: 17px;

      }

      .time {
        position: absolute;
        top: 4px;
        right: 30px;

        font-size: 12px;
        float: right;

        span {
          font-weight: bold;
          //   color: #F26118;
        }
      }
      .sicon {
        position: absolute;
        top: 4px;
        right: 6px;

        font-size: 12px;
        float: right;

       
      }
    }

    .theBody {

      .start {
        position: absolute;
        top: 28px;
        margin-left: 35px;
        font-size: 10px;
        width: 90%;

        span {
          font-weight: bold;
          color: rgb(70, 68, 68);
          font-size: 13px;
        }
      }

      .end {
        position: absolute;
        top: 47px;
        margin-left: 35px;
        font-size: 10px;
        width: 90%;

        span {
          font-weight: bold;
          color: rgb(70, 68, 68);
          font-size: 13px;
        }
      }



      .score {
        position: absolute;
        right: 5px;
        top: 28px;

      }
    }
  }

  
}

